<% include header %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
    <% console.log("Displaying:" + entry.title) %>
    <% console.log("Displaying:" + entry.content) %>
    <% console.log("Displaying:" + entry.published) %>    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted pull-right">
                <%= entry.published %>
            </div>
            <%= entry.title %>
        </div>
        <div class="panel-body">
            <%= entry.content %>
        </div>
    </div>
<% }) %>
<% } else { %>
    No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
